.page-header{
    display: flex;
    height: 70px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-bottom: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
}
.page-header.sticky-active{
    position: fixed;
    top: 0px;
    width: 100%;
}

.page-header .header-title{
    color: var(--gray-900, #2A2D2F);
    text-align: center;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 122.222% */
}

.header-left{
    display: flex;
}

.action-header{
    display: flex;
    height: 70px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.action-header .header-title{
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
}
.header-right-actions{
    display: flex;
    align-items: center;
    gap: 20px;
}

.page-header .header-right{
    display: flex;
}