.login-page{
    display: flex;
    padding: 100px 360px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.login-title{
    width: 520px;
    color: var(--gray-900, #2A2D2F);
font-family: Pretendard;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 34px; /* 121.429% */
}

.login-card{
    display: flex;
    width: 520px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.oauth{
    display: flex;
    width: 520px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}