.mock-analysis{
    display: flex;
    padding-top: 70px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;

}

.mock-analysis__inner{
display: flex;
width: 100%;
flex-direction: column;
align-items: flex-start;
}

.mock-analysis-panel{
display: flex;
width: 100%;
padding: 40px 360px 100px 360px;
flex-direction: column;
align-items: flex-start;
gap: 40px;
}

.mock-analysis__header{
    display: flex;
    padding: 52px 360px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
    border-bottom: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
}

.mock-analysis-tabs{
    display: flex;
    height: 98px;
    padding: 52px 360px 0 360px;
    align-items: center;
    gap: 28px;
    align-self: stretch;
    border-bottom: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
}

.mock-analysis__title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px; /* 121.429% */
}

.mock-analysis__title-meta{
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--gray-700, #6F767E);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 122.222% */
}

.mock-analysis__title-status--done{
    color: var(--ai-green-100, #15D078);
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 122.222% */
}


.mock-analysis__meta{
    display: flex;
    width: 100%;
    align-items: center;
    gap: 24px;
}

.mock-analysis__meta .mock-analysis__meta-row:nth-child(2){
    flex: 2;

}

.mock-analysis__meta-row{
    display: flex;
    flex: 1;
    padding: 28px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 6px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--gray-50, #F8F8F9);
}

.mock-analysis__meta-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.mock-analysis__meta-key{
    color: var(--gray-700, #6F767E);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.mock-analysis__meta-value{
    color: var(--gray-900, #2A2D2F);
    text-align: right;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */ 
}

.mock-analysis-tabs .mock-analysis-tabs__item{
    display: flex;
    padding-bottom: 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mock-analysis-tabs .mock-analysis-tabs__item.on{
    display: flex;
    padding-bottom: 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* 종합리포트 */

.mock-analysis-report__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.mock-analysis-report__inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.mock-analysis-report__icon-btn{
    display: flex;
    width: 52px;
    height: 52px;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    aspect-ratio: 1/1;
    border-radius: 100px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
    cursor: pointer;
}

.mock-analysis-report__content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

