.ai-matching-search-box{
    display: flex;
    width: 100%;
    height: 115px;
    padding: 28px;
    justify-content: space-around;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    border: 1px solid var(---gray-400, #C8CCCF);
    background: #FFF;
}

.ai-matching-search-box__input-wrap{
    display: flex;
    width: 90%;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid var(---gray-400, #C8CCCF);
    background: #FFF;
}

.diagnosis-box{
    display: flex;  
    padding: 28px;
    flex-direction: column;
    gap: 28px;
    border-right: 1px solid var(---gray-400, #C8CCCF);
    border-bottom: 1px solid var(---gray-400, #C8CCCF);
    border-left: 1px solid var(---gray-400, #C8CCCF);
    background: var(---gray-50, #F8F8F9);
}

.diagnosis-box__header{
    display: flex;
    height: 19px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    color: var(---gray-600, #848B93);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.diagnosis-box__close-btn{
    cursor: pointer;
}

.diagnosis-box__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.diagnosis-box__item-summary{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(---gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.diagnosis-box__item-status{
    color: var(---green, #31C68A);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.diagnosis-box__item-detail{
    color: var(---gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.talent-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    margin-top: 28px;
    border: 1px solid var(---gray-400, #C8CCCF);
    background: var(---gray-400, #C8CCCF);
}


.talent-list__header .talent-list__col span{
    color: var(---gray-700, #6F767E);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.talent-list__row{
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    background: var(---gray-50, #F8F8F9);
    align-self: stretch;
}

.talent-list__header{
    height: 56px;
}

.talent-list__item{
 height: 175px;
}


.talent-list__item{
    background: var(---white, #FFF);
}

.talent-list__col--name{
    width: 243px;
    text-align: center;

}
.talent-list__col--info{
    width: 501px;
    text-align: center;
}
.talent-list__col--ai-status,
.talent-list__col--rate,
.talent-list__col--date
{
    width: 220px;
    text-align: center;
}

.talent-list__col--action{
    display: flex;
    width: 175px;
    justify-content: center;
}


.talent-list__item .talent-list__col--info{
    display: flex;
    width: 501px;
    padding: 28px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.talent-list__item .talent-list__col--ai-status{
    display: flex;
    width: 220px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
}

.talent-list__status-text{
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
 }

.talent-list__status-text.on{
    color: #AF8CFF;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: rgba(175, 140, 255, 0.16);
}

.talent-list__status-text.off{
    background: #E9EAEB;
    color: var(---gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.talent-list__rate-value{
    color: var(---green, #31C68A);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.talent-list__date-value{
    color: var(---gray-900, #2A2D2F);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.talent-list__summary{
    color: var(---gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.talent-list__detail-item{
    display: flex;
    align-items: center;
    gap: 12px;
}

.talent-list__detail-label{
    color: var(---gray-600, #848B93);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* ai-report */

.company-dashboard-header__title span+span::before{
    content: "/";
    width: 10px;
    height: 10px;
    margin-left: 8px;
    margin-right: 8px;
    color: var(---gray-500, #9EA4AA);
}

.page-header-title-group__main-title{
    color: var(---gray-500, #9EA4AA);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.page-header-title-group__sub-title{
    color: var(---gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/* 
AIReport */

.report-tab-nav{
    display: flex;
    width: 100%;
    padding: 28px 1495px 0 28px;
    align-items: center;
    border-bottom: 1px solid var(---gray-400, #C8CCCF);
    background: var(---gray-100, #F2F3F4);
}

.report-tab-nav__container{
    display: flex;
    align-items: center;
    gap: 28px;
}

.report-tab-nav__item{
    display: flex;
    width: 50px;
    padding-bottom: 16px;
    justify-content: center;
    align-items: center;
    color: var(--XaaS-AI-PC-gray-500, #9EA4AA);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.report-tab-nav__item.on{
    color: var(---green, #31C68A);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-bottom: 2px solid var(---green, #31C68A);
}

.report-content{
    display: flex;
    width: 100%;
    height: 1437px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    padding: 40px 28px 0 28px;
    background: var(---white, #FFF);
}

.report-content__main-summary{
    color: var(---gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ai-summary-box{
    display: flex;
    height: 205px;
    align-items: flex-start;
    align-self: stretch;
}

.ai-summary-box__score{
    display: flex;
    width: 207px;
    height: 100%;
    padding: 60px 0 59px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 1px solid var(---green, #31C68A);
    background: rgba(49, 198, 138, 0.16);
}

.ai-summary-box__score-label{
    color: var(---green, #31C68A);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ai-summary-box__score-value{
    color: var(---green, #31C68A);
    text-align: center;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ai-summary-box__details{
    display: flex;
    justify-content: center;
    flex: 1 0 0;
    height: 100%;
    gap: 12px;
    border-top: 1px solid var(---gray-400, #C8CCCF);
    border-right: 1px solid var(---gray-400, #C8CCCF);
    border-bottom: 1px solid var(---gray-400, #C8CCCF);
    background: var(---gray-50, #F8F8F9);
    flex-direction: column;
    padding: 0px 0 0px 28px;
}

.ai-summary-box__detail-title{
    color: var(---gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.ai-summary-box__detail-item{
    display: flex;
  
}

.ai-summary-box__item-label{
    flex: 1;
    color: var(---gray-600, #848B93);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ai-summary-box__item-text{
    flex: 6;
    color: var(---gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.report-info-section.report-info-section--profile{
    display: flex;
    gap: 20px;
}

.report-info-section__name{
    color: var(---gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.report-info-section{
    display: flex;
    padding: 28px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
    border: 1px solid var(---gray-400, #C8CCCF);
}

.report-info-section__title{
    color: var(---gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.report-info-section__content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.report-info-section__career-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    padding: 10px 0 28px 0;
    border-bottom: solid 1px #C8CCCF;
}

.career-item__company-name{
    color: var(---gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.career-item__start-date{
    color: var(---gray-700, #6F767E);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.career-item__status{
    color: var(---green, #31C68A);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.career-item__role{
    color: var(---gray-700, #6F767E);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.career-item__description{
    color: var(---gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}