
.consent-page{
    display: flex;
    padding: 172px 0px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    background: var(--gray-50, #F8F8F9);

}

.consent-contatiner{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sub-title{
    font-size: 15px; 
    font-weight: 500;
    color: #666666;
}

.signup-page{
    display: flex;
    padding: 172px 0px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    background: var(--gray-50, #F8F8F9);
}

.signup-title{
width: 760px;
color: var(--gray-900, #2A2D2F);
font-family: Pretendard;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 34px; /* 121.429% */
}

.signup-card{
    display: flex;
    width: 760px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 6px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
}

.signup-card .form-group{
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
}
.signup-card .form-group .email-group,
.signup-card .form-group .pwd-group,
.signup-card .form-group .number-group,
.signup-card .form-group .name-group,
.signup-card .form-group .birth-group
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.signup-card .form-group .toggle-group{
    display: flex;
width: 256px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}

.signup-card .password_info{
    color: var(--gray-700, #6F767E);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.consent-page .consent-card{
    border: none;
    border-radius: 6px;
}



.consent-card{
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
    border-top: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
}

.consent-card .consent-item--all{
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
}


.consent-card .consent-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.consent-card .consent-item--optional {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.consent-item .consent-item__control{
    display: flex;
    align-items: center;
    gap: 12px;
}

.consent-item .consent-item__control .consent-item__label{
    display: flex;
    align-items: center;
    gap: 4px;
}

.consent-item .consent-item__view{
    color: var(--gray-700, #6F767E);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.consent-item--optional .consent-item__options{
    display: flex;
    padding-left: 32px;
    align-items: center;
    gap: 28px;
}

.consent-item--optional .consent-item__options.mobile{
  display: none;
  padding: 0px;
}


.signup-card .email-group .input-group{
    height: 52px;
    padding: 16px;
}

.signup-card .data-group{
    display: flex;
    height: 52px;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--gray-50, #F8F8F9);
    color: var(--gray-500, #9EA4AA);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.signup-card .data-group.error{
    border: 1px solid var(--red-100, #FF524C);
}


.signup-card .birth-group .data-group{
    display: flex;
    height: 52px;
    padding: 16px;
    justify-content: start;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.signup-card .email-group .input-group:focus-within,
.signup-card .pwd-group .input-group:focus-within
 {
    border: 1px solid var(--gray-900, #2A2D2F);
}

.email-group .form-input{
    padding: 0px;
}


.input-icon.email{
    cursor: pointer;
}


.consent-option{
    display: flex;
    align-items: center;
    gap: 12px;
}

.consent-item--all input[type="checkbox"],
.consent-item input[type="checkbox"],
.consent-option input[type="checkbox"]

{
    width: 17px;
    height: 17px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    accent-color: #816BFE;
}

/* 비활성화된 가입하기 버튼 스타일 */
.signup-card .default_btn_black:disabled {
    background-color: var(--gray-400, #C5C8CB);
    cursor: not-allowed;
    color: var(--gray-600, #858C94);
}

@media (max-width: 760px) {

    body{
        .signup-page,
        .consent-page{
            display: flex;
            padding: 100px 0px 0px 0px;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            align-self: stretch;
            background: var(--white-100, #FFF);
        }
        .consent-contatiner{
            gap: 20px;
        }

        .consent-page .signup-title{
            display: flex;
            width: auto;
        }

        .signup-title{
            display: none;
            width: auto;
        }

        .signup-card{
            width: 100%;
            border: none;
            gap: 12px;
        }
        .signup-card .form-group{
            padding: 0 20px 36px 20px;
            background: var(--white-100, #FFF);
        }
        .signup-card .form-group .toggle-group{
            width: 100%;
        }

        .consent-card{
            display: flex;
            padding: 36px 20px 20px 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            align-self: stretch;
            border: none;
            border-top: solid 12px #F2F3F4;
        }
        .signup-page .form-actions{
            padding: 14px 20px 20px 20px;
            border: none;    
        }
        .signup-page .form-actions :first-child{
          display: none;
        }
        .consent-item .consent-item__control .consent-item__label{
            font-size: 14px;
        }

        .consent-item--optional .consent-item__options{
            display: none;
        }
        
        .consent-item--optional .consent-item__options.mobile{
          display: flex;
          gap: 16px;
          padding: 0px;
        }
        .recovery-panel.mobile.pwd{
            border: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 36px;
            align-self: stretch;
        }
        .recovery-panel.mobile .field input {
            border-radius: 4px;
            border: 1px solid var(--gray-300, #E0E2E4);
            background: var(--white-100, #FFF);
        }
        .signup-card .password_info{
            font-size: 12px;
        }

    }

}