.resume-create-page__section--career{

}

.resume-create-page__section--career .resume-create-page__section-title{
    display: flex;
    flex-direction: row;
    padding: 28px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.resume-create-page__section--career .ui-select{
   height: 52px;
}

.resume-create-page__section-body.career-section{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    background: var(--gray-50, #F8F8F9);
}



.career-section.date{
    width: 186px;
}

.career-section__tilde{
    display: flex;
    width: 12px;
    height: 52px;
    padding-top: 15px;
    flex-direction: column;
    justify-content: center;
    color: var(--gray-900, #2A2D2F);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}


.career-section__select{
    display: flex;
    width: 126px;
    height: 52px;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    color: var(--gray-500, #9EA4AA);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
    
}


.resume-create-page__section--career .career-section__period{
 position: relative;
}

.career-section__control--up.first{
    border-radius: 100px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--gray-100, #F2F3F4);
}

.career-section__control--up{
    border-radius: 100px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
}


/* 모바일: 760px 이하 */
@media (max-width: 760px) {
    body{
        .resume-create-page__section--career .resume-create-page__section-title{
            padding: 0px;
        }
        .resume-create-page__section-body.career-section{
            background: none;
            padding: 0px;
            gap: 16px;
        }
        .career-section__item{
            display: flex;
         
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 20px;
            align-self: stretch;
        }
        .career-section__period{
            flex-direction:row;
            width: 100%;
        }
        .resume-create-page .career-section__group--employment{
            align-items: start;
        }
        .career-section__date-wrapper{
            width: 100%;
        }
        .career-section.date{
            width: 100%;
            gap: 0px;
        }
   
        .calendar-popover{
            left: 0px;
            width: 100%;
        }

        .career-section__row{
            flex-direction: column;
            gap: 24px;
        }
        .field .career-section__summary-input textarea{
            height: 100%;

        }

        .career-section__control .resume-create-page__assist-text{
            width: 75%;
        }
        .resume-ai-suggest__item{
            font-size: 14px;
        }
        .resume-create-page .career-section__controls{
            width: 100%;
            justify-content: center;
            flex-direction: row;
        }
        .resume-create-form__content{
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 80px 20px 120px 20px;
            background: var(--gray-50, #F8F8F9);
        }
        .career-add-btn{
            
        }
        .resume-create-page .career-section__fields{
            gap: 24px;
        }
        .resume-career-autofill-button{
            display: flex;
            padding: 16px 20px;
            justify-content: center;
            align-items: center;
            gap: 12px;
            align-self: stretch;
            border-radius: 4px;
            font-size: 16px;
            color: var(--white-100, #FFF);
            border: 1px solid var(--gray-300, #E0E2E4);
            background: var(--primary-primary, #816BFE);
            font-weight: 600;
        }

    }
}