.ai-suggest {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-radius: 4px;
    background: var(--ai-10, linear-gradient(90deg, rgba(21, 208, 120, 0.10) 0%, rgba(75, 209, 200, 0.10) 100%));
    overflow: hidden;
    color: var(--gray-700, #6F767E);
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */  
}
  
  .ai-suggest__title {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    overflow: hidden;
    color: var(--gray-700, #6F767E);
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
  }
  
  .ai-suggest__chips {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 16px;
    align-self: stretch;
    flex-wrap: wrap;
  }
  
  .ai-suggest__chip {
    display: flex;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
    border: 1px solid var(--ai-30, #15D078);
    background: var(--white-100, #FFF);
    color:#15D078 ;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    cursor: pointer;
  }
  
  .ai-suggest__chip:hover {
    background: var(--gray-100, #F1F2F4);
  }
  
  .ai-suggest__chip--disabled,
  .ai-suggest__chip[aria-disabled="true"] {
    opacity: 0.6;
    cursor: not-allowed;
  }
  