.ui-filter{
    display: flex;
    height: 52px;
    padding: 4px;
    align-items: center;
    gap: 4px;
    border-radius: 6px;
    background: var(--gray-200, #EBECED);
}

.ui-filter__item{
    display: flex;
    width: 120px;
    height: 44px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    color: var(--gray-500, #9EA4AA);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    cursor: pointer;
}

.ui-filter__item.on{
    color: var(--gray-900, #2A2D2F);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    border-radius: 4px;
    background: var(--white-100, #FFF);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);

}