
.jobs-head { 
    padding-top: 42px;
}
.jobs-head .container { gap: 8px; } 

.jobs-title{
  margin: 0;
  font-size: 24px;        
  font-weight: 600;
}

.jobs-sub-title {
  padding-top: 18px;
  font-size: 20px;          
  font-weight: 600;
  color: #6F767E;           
}

.jobs-search{
    width: 808px;
    display: flex;
    flex-direction: column;
}

.searchbar__toggle{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
    line-height: 1;
    padding: 10px 0px;
}
.toggle__text{ font-size:15px; color:#2A2D2F;}
.sw__input{ position:absolute; opacity:0; width:1px; height:1px; }
.sw__trk{
    position:relative; display:inline-block; width:48px; height:28px;
    background:#fff; border:1px solid #111; border-radius:9999px;
}
.sw__th{
    position:absolute; top:2px; left:3px; width:22px; height:22px;
    background:#111; border-radius:50%; transition:left .2s ease;
  }
.sw__input:checked + .sw__trk .sw__th{ left:21px; }
.searchbar {
  height:80px; 
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 808px;   
  margin: 0 auto;
  background-color: white;
  padding: 10px 8px; 
  border-radius: 8px;
  border: solid 1px #cfd4d1;
 
}


.searchbar input[type="search"] {
  flex: 1;
  height: 44px;
  padding: 0 12px;
  border: none;
  border-radius: 10px;
  background: #fff;
  font-size: 18px;
  color: #111;
  outline: none;
}
.searchbar input[type="search"]::-webkit-search-cancel-button,
.searchbar input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.search-input::placeholder {
    color: #6F767E; 
    font-weight: 300;
  }
.searchbar button[type="submit"] {
  height: 64px;
  width: 64px;
  background: black;
  border-radius: 8px;
  cursor: pointer;
}
.searchbar__submit img{
    width: 17px;
    height: 17px;
} 

.jobs-filters{
    width: 100%;
    display: flex;
    gap: 15px;      
    padding: 8px 0;
    margin: 0 auto;
  }
  

  .filter { flex: 0 0 auto; }
  

/* 버튼 기본 */
.filter-btn{
    height: 40px;
    display:flex;      
    justify-content:center;   
    align-items:center;
    font-size:14px;
    padding: 0px 18px;
    border: solid 1px black;
    background-color: white;
    border-radius: 8px;
    gap:10px;
    cursor: pointer;
  }
  
  .filter-btn::after{
    content:"";
    width:9px; height:9px;
    background: url("/src/assets/icons/angle-down-small.png") no-repeat center / contain;
 
  }
  
  /* ▲ 열림 상태 (on/is-active 붙였을 때), PNG를 회전 */
  .filter-btn.on::after,
  .filter-btn.is-active::after{
    transform: rotate(180deg);
  }

.jobs-results{
 display: flex;
 flex-direction: column;
 align-items: start;
 width: 100%;
}


.jobs-results__tabs .tabs{
 display: flex;
 height: 35px;
 gap: 24px;
 margin: 25px 0px;
}

.tabs__item:has(> a.on) {   border-bottom: 2px solid #000; }
/* 
.tabs__item:has(> a[aria-current="page"]) {
    border-bottom: 2px solid #000;
 } */
