.resume-create-page__section--personal-statement .resume-create-page__section-title--simple{

}


.resume-create-page__section--personal-statement .resume-create-page__section-body.empty{
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: var(--gray-500, #9EA4AA);
text-align: center;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
}

.resume-create-page__section--personal-statement .resume-create-page__section-body{
    display: flex;
    padding: 28px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    background: var(--white-100, #FFF);
}


.resume-create-page__section--personal-statement .activities-section__fields{
    display: flex;
    width: 740px;
    padding: 28px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
}



.activities-section__controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}


.activities-section__control{
    display: flex;
    width: 126px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}


.activities-period{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}


/* 모바일: 760px 이하 */
@media (max-width: 760px) {
    body{


        .resume-create-page__section--personal-statement .resume-create-page__section-body.empty{
            padding: 16px 20px;
            border-radius: 4px;
            border: 1px solid var(--gray-300, #E0E2E4);
            background: var(--white-100, #FFF);
        }

        .resume-create-page__section--personal-statement .resume-create-page__section-body{
            padding: 16px 20px;
            border-radius: 4px;
            border: 1px solid var(--gray-300, #E0E2E4);
            background: var(--white-100, #FFF);
        }

        .resume-create-page__section--personal-statement .resume-create-form__content{
            background: none;
        }

        .personal-section__control--summary .resume-create-page__assist{
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 12px;
        }
        .resume-create-page__assist.is-hidden{
            display: none;
        }

        .resume-create-page__section--personal-statement .resume-create-page__section-body .resume-field__value{
            font-size: 14px;
            line-height: 23px;
        }
    }
  }