.location-picker--popup{
    width: 570px;
    display: flex;
    background-color: gray;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 6px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
    box-shadow: 0 0 24px 0 rgba(42, 45, 47, 0.16);
    overflow: hidden;
    color: var(--gray-900, #2A2D2F);
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    z-index: 10;
}

.location-picker--popup.mobile{
    display: none;
}

.location-picker{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E0E2E4);
}

.location-picker__header{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 12px;
    align-self: stretch;
    background: var(--white-100, #FFF);
}
.location-picker__checkbox-wrap{
    cursor: pointer;
}

.location-picker__header.on{
    font-weight: 600; 
    color: var(--gray-900, #2A2D2F);
}

.location-picker__body{
    height: 350px;
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    overflow: hidden;
    color: var(--gray-900, #2A2D2F);
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.location-picker__column--left{
  display: flex;
  flex: 1;
  align-items: center;
  border-right: 1px solid var(--gray-300, #E0E2E4);
}

.location-picker__column--right{
    display: flex;
    flex:1;
    align-items: flex-start;
}

.location-picker__category_group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    overflow-y: auto;
    max-height: 360px;   
    min-height: 0;
}

/* 스크롤바 공통 */
.location-picker__category_group,
.location-picker__group{
  scrollbar-width: thin;
  scrollbar-color: #9EA4AA #F8F8F9;
}

.location-picker__category_group::-webkit-scrollbar,
.location-picker__group::-webkit-scrollbar{
  width: 8px;                
  height: 8px;                
}
.location-picker__category_group::-webkit-scrollbar-track,
.location-picker__group::-webkit-scrollbar-track{
  background: #F8F8F9;        
  border-radius: 100px;
}
.location-picker__category_group::-webkit-scrollbar-thumb,
.location-picker__group::-webkit-scrollbar-thumb{
  background: #9EA4AA;     
  border-radius: 100px;
  min-height: 80px;          
  border: 2px solid #F8F8F9;  
}

.location-picker__category{
    display: flex;
    width: 240px;
    padding: 16px 8px 16px 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    /* background: var(--gray-50, #F8F8F9); */
    cursor: pointer;
}

.location-picker__category.on{
    border-radius: 4px;
    background: var(--gray-50, #F8F8F9);
    color: var(--gray-900, #2A2D2F);
    font-weight: 600;
}

.location-picker__category-meta{
    display: flex;
    align-items: center;
    gap: 8px;
}

.location-picker__group--right{
  display: flex;
  width: 100%;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  max-height: 360px;   
  min-height: 0;
}

.location-picker__role{
    display: flex;
    width: 100%;
    padding: 16px;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.location-picker__role.total{
    padding: 0px;
}

.location-picker__role.total:hover{
   background: none;
}



.location-picker__role:hover{
    background: var(--gray-50, #F8F8F9);
}

.location-picker__role.on{
    color: var(--gray-900, #2A2D2F);
    font-weight: 600;
}

.location-picker__checkbox-wrap img{
  cursor: pointer;
}

.location-picker__role-label.on{
    color: var(--gray-900, #2A2D2F);
    font-weight: 600;
}

.location-picker__options{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-top: 1px solid var(--gray-300, #E0E2E4);
    background: var(--gray-50, #F8F8F9);
}

.location-picker__options-note{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    align-self: stretch;
    overflow: hidden;
    color: var(--gray-700, #6F767E);
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.location-picker__selected{
    display: flex;
    align-items: center;
    align-content: center;
    gap: 16px;
    align-self: stretch;
    flex-wrap: wrap;
}

.location-picker__chip{
    display: flex;
    padding: 8px 8px 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
}

.location-picker__actions{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-top: 1px solid var(--gray-300, #E0E2E4);
}

.location-picker__category-count{
    overflow: hidden;
    color: var(--primary-primary, #816BFE);
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
}

.location-picker__category-title.on{
    overflow: hidden;
    color: var(--gray-900, #2A2D2F);
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
}

.location-picker__category-toggle{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.location-picker__chip-body{
    display: flex;
    align-items: center;
    gap: 4px;
}
.location-picker__chip-chevron{
    width: 20px;
    height: 20px;
    text-align: center;
}

.location-picker__chip-role{
    display: flex;
    align-items: center;
    gap: 4px;
}

.location-picker__chip-close{
    width: 20px;
    height: 20px;
    aspect-ratio: 1 / 1;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

/* 모바일: 760px 이하 */
@media (max-width: 760px) {
    body{
        .location-picker--popup.mobile{
            display: flex;
            position: static;
            width: 100%;
            height: 100%;
            box-shadow: none;
            border: none;
            border-radius: 0;
        }

        .location-picker--popup{
            display: none;
        }
        .location-picker__options-note{
            display: flex;
            padding: 16px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            border-radius: 4px;
            border-bottom: 1px solid var(--gray-300, #E0E2E4);
            background: var(--gray-50, #F8F8F9);
        }
        .location-picker__body{
            height: 100%;
            font-size: 14px;
        }
        .location-picker__category-count{
            font-size: 14px;
        }
        .location-picker__column--left,
        .location-picker__column--right{
            display: flex;
            height: 100%;
            align-items: start;
        }
        .location-picker__category_group,
        .location-picker__group{
            width: 100%;
            height: 100%;
            max-height: 100%;
            padding: 0px;
        }
        .location-picker__category{
            width: 100%;
        }
        .location-picker__chip-chevron{
            width: 20px;
            height: 20px;
            align-items: center;
            text-align: center;
            display: flex;
            justify-content: center;
        }
        .location-picker__checkbox{
            width: 18px;
            height: 18px;
        }
    }
}