.resume-create-page{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.resume-create-page__status{
    display: flex;
    padding: 96px 360px 24px 360px;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-bottom: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
}