.resume-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
  }
  
  .resume-page__status {
    display: flex;
    padding: 96px 0px 24px 0px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
  }
  
  .resume-detail__actions-left,
  .resume-detail__actions-right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .resume-edit-page .resume-create-page__status,
  .resume-page--detail .resume-create-page__status{
    justify-content: space-between;
  }


  .resume-ai-suggest{
    display: flex;
    width: 100%;
    padding: 20px 20px 16px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--gray-50, #F8F8F9);
  }

  .resume-ai-suggest__header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }
  .resume-ai-suggest__close{cursor:pointer}

  .resume-ai-suggest__title{
    display: flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    background: var(--ai-100, linear-gradient(90deg, #15D078 0%, #4BD1C8 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .resume-ai-suggest__list{
    display: flex;
    flex-direction: column;
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
  }

  .resume-page__container {
    display: flex;
    padding: 52px 0px 100px 0px;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    justify-content: center;
  }
  
  .resume-page__main {
    display: flex;
    width: 856px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
  }

  
