.resume-create-page{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.resume-create-page__status{
    display: flex;
    padding: 96px 360px 24px 360px;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-bottom: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
}

.resume-create-page__container{
    display: flex;
    padding: 52px 360px 100px 360px;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.resume-create-page__main{
    display: flex;
    width: 856px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.resume-create-page__aside{
    display: flex;
    width: 320px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 6px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
}

.resume-create-page__section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
    box-shadow: 0 0 24px 0 rgba(42, 45, 47, 0.12);
}

.resume-create-page__section--title{
padding: 28px;
gap: 28px;
}

.section-title__row{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.resume-create-page__field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.resume-create-page__label{
    color: var(--gray-500, #9EA4AA);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
}

.resume-create-page__hint{
    overflow: hidden;
    color: var(--gray-700, #6F767E);
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.resume-create-page__error{
    overflow: hidden;
    color: var(--red-100, #FF524C);
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.resume-create-page__assist{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: var(--ai-10, linear-gradient(90deg, rgba(21, 208, 120, 0.10) 0%, rgba(75, 209, 200, 0.10) 100%));
    overflow: hidden;
    color: var(--gray-700, #6F767E);
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.resume-create-page__assist-text{
    display: flex;
    align-items: center;
    gap: 8px;
}

.resume-create-page__section-title{
    display: flex;
    padding: 28px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    border-bottom: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    border-radius: 6px 6px 0px 0px;

}

.resume-section-title{
    display: flex;
    width: 800px;
    height: 24px;
    justify-content: space-between;
    align-items: center;
}

.resume-section-title__text{
    display: flex;
    align-items: center;
    gap: 8px;
}

.resume-section-title__action{
    display: flex;
    align-items: center;
    gap: 28px;
    align-self: stretch;
}

.resume-section-title__actions{
    display: flex;
    align-items: center;
    gap: 28px;
    align-self: stretch;
    font-size: 16px;
}

.resume-section-title__control--fresh{
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    overflow: hidden;
    color: var(--gray-700, #6F767E);
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */

}

.resume-section-title__action--import{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--primary-primary, #816BFE);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px; /* 125% */
    cursor: pointer;
}

.resume-create-page__field-row{
    display: flex;
    align-items: center;
    gap: 28px;
    align-self: stretch;
}


.resume-create-page__section-title__heading{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
}

.resume-create-page__required{
    color: var(--red-100, #FF524C);
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 120% */
}



.resume-create-page__section-body{
    display: flex;
    padding: 28px;
    align-items: flex-start;
    gap: 28px;
    align-self: stretch;
    border-radius: 0px 0px 6px 6px;
}



.basic-info__options{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.basic-info__option{
    display: flex;
    height: 52px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
}









.resume-create-page .location-picker__column{
    width: 100%;
    border-right: 0px;

}

.resume-create-page .location-picker__category-group{
    height: 350px;
    width: 100%;
    overflow: auto;
}

.resume-create-page .location-picker__category {
    width: 100%;
}

.resume-create-page .resume-create-page__selected{
    display: flex;
    width: 856px;
    padding: 28px;
    align-items: center;
    align-content: center;
    gap: 16px;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--gray-300, #E0E2E4);

}

.resume-create-page .location-picker__chip{
    display: flex;
    height: 52px;
    padding: 16px 16px 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
border: 1px solid var(--gray-300, #E0E2E4);
background: var(--gray-50, #F8F8F9);
}
/* 
경력 */

.resume-create-page .career-section__item{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch; 
}

.resume-create-page .career-section__fields{
    display: flex;
    width: 740px;
    padding: 28px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
}

.resume-create-page .career-section__controls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}


.resume-create-page .career-section__group--employment,
.resume-create-page .education-section__group--employment,
.resume-create-page .activities-section__group,
.awards-certifications-section__group
{
    display: flex;
    align-items: flex-end;
    gap: 16px;
    align-self: stretch;
}



.career-section__control--employment{
    display: flex;
    width: 126px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.career-section__select{
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--red-100, #FF524C);
    background: var(--white-100, #FFF);
}

.career-section__period,
.education-section__period
{
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;

}

.career-section__toggle--current{
    display: flex;
    padding: 15px;
    align-items: center;
    gap: 12px;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
}

.career-section__toggle--current.error_box{
    border-radius: 4px;
    border: 1px solid var(--red-100, #FF524C);
    background: var(--white-100, #FFF);
}

.date-section{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}


.career-section.date{
    width: 186px;
}

.career-section__tilde{
    display: flex;
    width: 12px;
    height: 52px;
    flex-direction: column;
    justify-content: center;
    color: var(--gray-900, #2A2D2F);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.section__date-inner{
    display: flex;
    height: 52px;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
    color: var(--gray-500, #9EA4AA);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    cursor: pointer;
}

.section__date-inner.error{
    border: 1px solid var(--red-100, #FF524C);
}

.section__date-inner.disabled{
    display: flex;
    justify-content: start;
    gap: 8px;
    align-self: stretch;
    background: var(--gray-50, #F8F8F9);
    cursor:auto;
}

.section__date-input{
    display: flex;
    align-items: center;
    gap: 8px;
}
.career-section__row,
.education-section__row
{
    display: flex;
    align-items: center;
    gap: 28px;
    align-self: stretch;
}

.career-section__control,
.education-section__control
{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

.field .career-section__summary-input,
.field .activities-section__summary-input,
.field .personal-section__summary-input
{
    height: 200px;
}

.field .career-section__summary-input textarea{
    border: none;
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
}

.field .activities-section__summary-input textarea{
    border: none;
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
}

.field .personal-section__summary-input textarea{
    border: none;
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
}

.career-section__summary-input,
.activities-section__summary-input,
.personal-section__summary-input
{
    display: flex;
    height: 200px;
    padding: 12px 16px 16px 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
    color: var(--gray-500, #9EA4AA);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
}

.career-section__char-count,
.activities-section__char-count,
.personal-section__char-count
{
    display: flex;
    justify-content: end;
    align-self: stretch;
    color: var(--gray-900, #2A2D2F);
    text-align: right;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    gap: 5px;
    line-height: 18px; /* 128.571% */
}

.career-section__char-count .max,
.activities-section__char-count .max,
.personal-section__char-count .max
{
    color: var(--gray-500, #9EA4AA);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.career-section__summary-actions{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: var(--ai-10, linear-gradient(90deg, rgba(21, 208, 120, 0.10) 0%, rgba(75, 209, 200, 0.10) 100%));
    overflow: hidden;
    color: var(--gray-700, #6F767E);
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.career-section__summary-ai-btn{
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    color: #15D078;
    cursor: pointer;
}
  
  /* (선택) 호버 시 살짝 강조 */
  .career-section__summary-ai-btn:hover{
   
  }

  .career-section__control_btn,
  .education-section__control_btn,
  .activities-section__control_btn,
  .awards-certifications-section__control_btn
  {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--gray-100, #F2F3F4);
    cursor: pointer;
  }

  .activities-section__control_btn,
  .awards-certifications-section__control_btn
  {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    border: 1px solid var(--gray-300, #E0E2E4);
    border-bottom: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF); 
    cursor: pointer;
  }