.company-dashboard{
    display: flex;

    background: var(---gray-100, #F2F3F4);
}

.company-dashboard__main{
    width: 80%;
    height: 1080px;
    overflow: auto;
}

.company-dashboard__sidebar{
    width: 20%;
    height: 1080px;
    border-right: 1px solid var(---gray-400, #C8CCCF);
    background: var(---gray-800, #3A3E42);
}

.company-dashboard__logo{
    display: flex;
    padding: 20px 28px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    color: var(---white, #FFF);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.company-dashboard__nav{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.company-dashboard__nav-item{
    display: flex;
    padding: 20px 28px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    color: var(---gray-500, #9EA4AA);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.company-dashboard__nav-item.on{
    color: #FFF;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: var(---green, #31C68A);
}


.company-dashboard-page{
    display: flex;
    flex-direction: column;
}

.company-dashboard-header{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 1px solid var(---gray-400, #C8CCCF);
    background: #FFF;
}

.company-dashboard-header__title{
    display: flex;
    align-items: center;
    color: var(---gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.company-dashboard-header__actions{
    display: flex;
    gap: 12px;
}

.company-dashboard-header__notification{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid var(---gray-400, #C8CCCF);
}

.company-dashboard-header__info{
    display: inline-flex;
    height: 40px;
    padding: 8px;
    align-items: center;
    gap: 2px;
    flex-shrink: 0;
    border: 1px solid var(---gray-400, #C8CCCF);
    cursor: pointer;
}

.company-dashboard-header__company-name{
    color: var(---gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.company-dashboard-main{
    padding: 28px;
}