input{
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
}

input:focus{
    outline: none; box-shadow: none;
}


input[type="checkbox"] {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    accent-color: #000;
}


textarea:focus {
    outline: none;
    box-shadow: none;
  }

 button{
    cursor: pointer;
 }

 button:disabled {
    cursor:auto;
  }

.btn_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.btn_w_full{
    width: 100%;
}

.default_btn_black{
    display: flex;
    height: 52px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 4px;
    background: var(---gray-900, #2A2D2F);
    color: var(--white-100, #FFF) !important;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    cursor: pointer;

}

.default_btn_black.radius{
    border-radius: 100px;

}

.default_btn_white_08{
    display: flex;
    height: 64px;
    padding: 20px 28px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    background: var(--white-8, rgba(255, 255, 255, 0.08));
    border: none;
    color: var(--white-100, #FFF);
    text-align: center;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
}

.default_btn_white_08.radius{
    border-radius: 100px;
}


.default_btn_white{
        display: flex;
        height: 52px;
        padding: 16px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 4px;
        border: 1px solid var(--gray-300, #E0E2E4);
        background: var(--white-100, #FFF);
        color: var(--gray-900, #2A2D2F);
        text-align: center;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        cursor: pointer;

}

.default_btn_white:hover{
    border-radius: 6px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--gray-50, #F8F8F9);
   
}

.default_btn_white.radius{
    border-radius: 100px;
}

.default_btn_red{
    display: flex;
    height: 52px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 4px;
    background: var(---gray-900, #FF524C);
    color: var(--white-100, #FFF) !important;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
    border: none;

}

.default_btn_red.radius{
    border-radius: 100px;
}


.default_btn_gray{
    display: flex;
    height: 52px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 4px;
    background: var(---gray-900, #9EA4AA);
    color: var(--gray-900, #2A2D2F);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
    border: none;

}

.default_btn_gray.radius{
    border-radius: 100px;
}

.default_btn_gray_100{
    display: flex;
    height: 52px;
    padding: 20px 28px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: var(--gray-100, #F2F3F4);
    color: var(--gray-900, #2A2D2F);
    font-size: 18px;
    font-weight: 700;
    border: none;
}

.default_btn_gray_100.radius{
    border-radius: 100px;
}

.default_tabs{
    display: inline-flex;
    height: 52px;
    padding: 4px;
    align-items: center;
    gap: 4px;
}


.default_tabs .tab{
    display: flex;
    height: 44px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--gray-500, #9EA4AA);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    cursor: pointer;
}

.default_tabs .tab.on{
    display: flex;
    width: 120px;
    height: 44px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--gray-900, #2A2D2F);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    border-bottom: 2px solid var(--gray-900, #2A2D2F);
}

.default_a_btn_line{
border: none;
background: none;
color: var(--gray-500, #9EA4AA);
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
text-decoration-line: underline; 
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
cursor: pointer;
}

.field__label em{
color: var(--red-100, #FF524C);
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 18px; /* 128.571% */
}

.badge--required{
color: var(--red-100, #FF524C);
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
}

.badge--required_20{
    color: var(--red-100, #FF524C);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
}


.point-text-black{
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
}

.badge--optional{
    color: var(--gray-700, #6F767E);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}
    
.pagination-round{
    display: flex;
    align-items: center;
    gap: 16px;
}

.pagination{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.pagination .pagination__list{
    display: flex;
    align-items: center;
    gap: 4px;
}

.pagination__btn{
    display: flex;
    width: 36px;
    height: 36px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    aspect-ratio: 1/1;
    border: none;
    background-color: transparent;
    cursor: pointer;
}



.pagination__page{
    display: flex;
    width: 36px;
    height: 36px;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    aspect-ratio: 1/1;
    border: none;
    background-color: transparent;
    color: var(--gray-700, #6F767E);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    cursor: pointer;
}

.pagination__page.is-active{
    color: var(--gray-900, #2A2D2F);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
}

.pagination__page:hover,
.pagination__btn:hover
{
    /* border-radius: 4px; */
    background: var(--gray-200, #EBECED);
}

.pagination__info{
    display: flex;
    height: 44px;
    padding: 4px 20px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
}

.pagination-round__btn{
    width: 44px;
    height: 44px;
    border-radius: 100px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
}

.pagination-round__info{
    color: var(--gray-900, #2A2D2F);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
}

.pagination-round__divider{
    color: var(--gray-500, #9EA4AA);
}

.pagination-round__total{
    color: var(--gray-500, #9EA4AA);
}

.mypage__top_search_field{
        display: flex;
        width: 400px;
        height: 52px;
        padding: 10px 16px;
        align-items: center;
        gap: 8px;
        border-radius: 4px;
        border: 1px solid var(--gray-300, #E0E2E4);
        background: var(--white-100, #FFF);
}

.mypage__top_search_field .icon-container {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
}

.mypage__top_search_field .icon-container img {
    width: 16.657px;
    height: 16.667px;
    flex-shrink: 0;
    aspect-ratio: 16.66 / 16.67;
    fill: var(--gray-900, #2A2D2F);
}

.mypage__top_search_field input {
    display: flex;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    box-shadow: none;
}

.mypage__top_search_field input::placeholder {
    color: var(--gray-500, #9EA4AA);
    text-align: start;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.mypage__table{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E0E2E4);
}
.mypage__table .head{
    display: flex;
    align-items: center;
    align-self: stretch;
    background: var(--gray-50, #F8F8F9);
    overflow: hidden;
    color: var(--gray-700, #6F767E);
    text-align: center;
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 1px solid var(--gray-300, #E0E2E4);
    
}

.mypage__table .cell--title{
    display: flex;
    padding: 20px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}
.mypage__table .cell--title.start{
    justify-content: start;
}

.mypage__table .cell--date,
.mypage__table .cell--num
{
    display: flex;
    width: 140px;
    padding: 20px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mypage__table .body{
    display: flex;
    align-items: center;
    align-self: stretch;
}

.mypage__table .body .body-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mypage__table .body .body-list .cell__item{
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    color: var(--gray-900, #2A2D2F);
    text-align: center;
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-bottom: 1px solid var(--gray-300, #E0E2E4);
}

.mypage__table .body .body-list .cell__item li{
    display: flex;
    align-items: center;
    width: 100%;
}

.mypage__table .body .body-list :last-child{
    border-bottom: none !important;
}

.mypage__detail-view{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    flex: 1 0 0;
    align-self: stretch;
    background: var(--white-100, #FFF);
}

.mypage__detail-view .card {
    display: flex;
    width: 100%;
    padding: 28px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    flex: 1 0 0;
}

.mypage__detail-view .card .card__infos{
    display: flex;
    width: 476px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.card__infos .card__title{
    align-self: stretch;
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.card__infos .card__meta {
    display: flex;
    align-items: center;
    gap: 16px;
}

.card__meta.date, .card__meta.category {
    color: var(--gray-700, #6F767E);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.card .card__content.scrollbox {
    height: 200px;
    overflow: auto;
}

.card .card__content {
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}


.input-row{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.input-group,
.date-group
{
    display: flex;
    width: 100%;
  
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
}


.input-group.error,
.date-group.error

{

    border: 1px solid var(--red-100, #FF524C);

}

.date-group
{
    padding-left: 16px;
}

.input-group input,
.date-group input
{
    border: none;
}





.in_icon .input-group img{
  padding-right: 16px;   
  cursor: pointer;
}

.in_icon .input-group input{
    border: none;
}

.in_icon .input-group input:focus{
    outline: none; box-shadow: none;
}

.login-page .oauth{
    display: flex;
    width: 520px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}


.form-tip_text_gray{
    color: var(--gray-700, #6F767E);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
}

.essential_text_red{
    color: var(--red-100, #FF524C);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.not_essential-text{
    color: var(--gray-700, #6F767E);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.small_labe_black-14{
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
}

.form-error-text{
color: var(--red-100, #FF524C);
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
}

.error_text_red{
color: var(--red-100, #FF524C);
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
}


.gender-btn_wrap{
    display: flex;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.gender-btn_wrap .default_btn_white.on{
    display: flex;
    height: 52px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    border-radius: 4px;
    border: 1px solid var(--primary-30, rgba(129, 107, 254, 0.30));
    background: var(--white-8, rgba(255, 255, 255, 0.08));
    color: var(--primary-primary, #816BFE);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
    border-radius: 4px;
    border: 1px solid var(--primary-30, rgba(129, 107, 254, 0.30));
    background: var(--primary-8, rgba(129, 107, 254, 0.08));
}

.gender-btn_wrap .default_btn_white{
    display: flex;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.form-actions{
    display: flex;
    padding: 40px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-top: 1px solid var(--gray-300, #E0E2E4);
}

.error_box{
    border-radius: 4px;
    border: 1px solid var(--red-100, #FF524C);
    background: var(--white-100, #FFF);
}

/* 
드롭다운 박스 */

.ui-select{
    display: flex;
    position: relative;
    padding: 16px 12px 16px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    cursor: pointer;
}

.ui-select.error{
    border: 1px solid var(--red-100, #FF524C);
}

.ui-select__menu{
    display: flex;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 110%;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    background: var(--white-100, #FFF);
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E0E2E4);
    box-shadow: 0 0 24px 0 rgba(42, 45, 47, 0.16);
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    overflow: auto;
    z-index: 1;
}

.ui-select-none-default{
    color: var(--gray-500, #9EA4AA);
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
}

.ui-select__menu.on{
    display: flex;
}

.ui-select__option{
    display: flex;
    padding: 16px;
    align-items: start;
    gap: 10px;
    align-self: stretch;
}

.ui-select__option:hover{
    background: var(--gray-50, #F8F8F9);
}


.divider{
    width: 100%;
    height: 1px;
    background: #E0E2E4;
}



body.mock-analysis-print-mode .masthead,
body.mock-analysis-print-mode .btn_wrap,
body.mock-analysis-print-mode .site-footer,
body.mock-analysis-print-mode .mock-analysis-overview__recommended-jobs,
body.mock-analysis-print-mode .mock-analysis-report__icon-btn
{
    display: none ;
}

body.mock-analysis-print-mode .mock-analysis__header{
    border-bottom: none;
}



body.mock-analysis-print-mode .mock-analysis {
    padding-top: 0px;
    background: var(--white-100, #FFF);
}


.print-page-break {
    
    page-break-after: always;
    break-after: page;
}



@media print {

    body, .chart-container, .chart-canvas, .bar, * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;

        
    }
    

    .print-page-break {
        page-break-after: always;
     
    }

}