.bottom-nav-container{
    display: none;
}



@media (max-width: 750px) {
    body{
        .bottom-nav-container{
            display: flex;
            height: 120px;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
        }
        .bottom-nav-bar{
            display: flex;
            padding: 9px;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
        }
        .bottom-nav-bar__item{
            display: flex;
            width: 65px;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            color: var(--gray-500, #9EA4AA) !important;
            text-align: center;
            font-family: Pretendard;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 14px; /* 116.667% */
        }
        .bottom-nav-bar__item.on{
            color: var(--gray-900, #2A2D2F) !important;
        }

        .bottom-nav-bar__label{

            text-align: center;
            font-family: Pretendard;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 14px; /* 116.667% */
        }
     }
   }
   
   @media (min-width: 390px) {
   }
   
   @media (min-width: 420px) {
   }