
.inquiry.mobile{
    display: none;
}

.inquiry .detail .title{
    display: flex;
    align-items: center;
     gap: 4px;

}

.inquiry-history{
display: flex;
flex-direction: column;
align-items: center;
align-self: stretch;
border-radius: 4px;
border: 1px solid var(--gray-300, #E0E2E4);
}


.inquiry-history__head,
.inquiry-history__body
{
display: flex;
align-items: center;
align-self: stretch;

}

.inquiry-history__head{
    background: var(--gray-50, #F8F8F9);
    overflow: hidden;
    color: var(--gray-700, #6F767E);
    text-align: center;
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    border-radius: 6px 6px 0px 0px;
    border-bottom: 1px solid var(--gray-300, #E0E2E4);
}



.inquiry-history__cell--title{
    display: flex;
    padding: 20px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}
    
.inquiry-history__cell--date{
    display: flex;
    width: 140px;
    padding: 20px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
    
.inquiry-history__cell--status{
    display: flex;
    width: 140px;
    padding: 20px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    font-size: 16px;
}

.inquiry-history__cell--status.pending{
    overflow: hidden;
    color: var(--gray-500, #9EA4AA);
    text-align: center;
    text-overflow: ellipsis;
    font-family: Pretendard;
  
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.inquiry-history__cell--status.answered{
    overflow: hidden;
    color: var(--primary-primary, #816BFE);
    text-align: center;
    text-overflow: ellipsis;

    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}


.inquiry-history__body-list{
    display: flex;
    flex-direction: column;
    width: 100%;
}



.inquiry-history__item{
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
    color: var(--gray-900, #2A2D2F);
    text-align: center;
    text-overflow: ellipsis;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    border-bottom: 1px solid var(--gray-300, #E0E2E4);
}  

.inquiry-history__body-list .inquiry-history__item .inquiry-history__cell--title{
    justify-content: start;
}

.inquiry-history__body-list a:last-child li{
 border: none;
}

.inquiry-container .empty{
display: flex;
justify-content: center;
align-items: center;
height: 760px;
width: 100%;
color: var(--gray-700, #6F767E);
text-align: center;
font-family: Pretendard;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 125% */
}

/* detail */

.inquiry .detail .title .icon_wrap{
    width: 20px;
    height: 20px;
    aspect-ratio: 1 / 1;
}

.inquiry-detail-view__main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    flex: 1 0 0;
    align-self: stretch;
    /* border-bottom: 1px solid var(--gray-300, #E0E2E4);
    */
    background: var(--white-100, #FFF);
}
.inquiry-detail-view__main .inquiry-card{
    display: flex;
    width: 100%;
    padding: 28px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    flex: 1 0 0;
    
}

.inquiry-detail-view__main .inquiry-card.answer{
background: var(--gray-50, #F8F8F9);
}

.badge{
    color: var(--primary-primary, #816BFE);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 125% */
}

.inquiry-card__infos{
display: flex;
width: 476px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}

.inquiry-card__title{
align-self: stretch;
color: var(--gray-900, #2A2D2F);
font-family: Pretendard;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 120% */
}

.inquiry-card__meta{
display: flex;
align-items: center;
gap: 16px;
}

.inquiry-card__content{
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
}

.inquiry-card__meta.date,
.inquiry-card__meta.category
{

    color: var(--gray-700, #6F767E);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */

}

.inquiry-card__content.scrollbox
{
    height: 200px;
    overflow: auto;
}
.inquiry-actions{
    display: flex;
    padding: 28px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-top: 1px solid var(--gray-300, #E0E2E4);

}

.inquiry-actions .inquiry-actions__left{
    display: flex;
    height: 52px;
    padding: 16px 20px 16px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.inquiry-actions .inquiry-actions__right{
    display: flex;
    align-items: center;
    gap: 16px;
}

.inquiry-actions .inquiry-actions__right .btn{
    flex: 0 0 auto;
}

.create{
    display: flex;
padding: 28px;
flex-direction: column;
align-items: flex-start;
gap: 28px;
align-self: stretch;
}

/* create */

.select_box_wrap{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}

.select_box_wrap .label{
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--gray-900, #2A2D2F);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
}

.select_box_wrap .label em{
    color: var(--red-100, #FF524C);
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 128.571% */
}

.select_box{
    width: 100%;
}

.select_box__control{
    display: flex;
    width: 100%;
    padding: 16px 12px 16px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 4px !important;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
    border-color: var(--gray-300, #E0E2E4) !important;
    box-shadow:none !important;

}

.select_box__control:hover{
    border-radius: 4px;
    border-color: var(--gray-900, #2A2D2F) !important;
    border: 1px solid var(--gray-900, #2A2D2F);
    background: var(--white-100, #FFF);
}

.select_box__placeholder {
    color: var(--gray-500, #9EA4AA);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
  }

.select_box__value-container{
    padding: 0px !important;
}

.select_box__indicator-separator{
    background-color: transparent !important;
}
.select_box__dropdown-indicator svg { display: none; }

.select_box__dropdown-indicator{
    width: 10px;
    height: 5px;
    flex-shrink: 0;
    aspect-ratio: 2/1;
    background: url('/src/assets/icons/arrow_drop_down.png') center / contain no-repeat;
}

.select_box__control--menu-is-open .select_box__dropdown-indicator {
    width: 10px;
    height: 5px;
    flex-shrink: 0;
    aspect-ratio: 2/1;
    /* background-image: url(/assets/icons/chevron_up.png); */
    background: url('/src/assets/icons/arrow_drop_down.png') center / contain no-repeat;
    transform: rotate(180deg);
  }

/* 
  input */

 
  .content-info{
    display: flex;
    height: 280px;
    padding: 12px 16px 16px 16px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
    color: var(--gray-500, #9EA4AA);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 28.8px */
  }

  .content-info .body .body_items{
    color: var(--gray-500, #9EA4AA);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }

  .content-info .body .body_items li{
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .content-info .body .body_items .strong{
   font-weight: 600;
   white-space: nowrap;
  }

.inquiry_title input{
    border-radius: 4px;
    border: 1px solid var(--gray-300, #E0E2E4);
    background: var(--white-100, #FFF);
}

.field .content.error textarea{
    /* border-radius: 4px;
    border: 1px solid var(--red-100, #FF524C);
    background: var(--white-100, #FFF); */
}

.inquiry .create .content.error .content-info{
    border-radius: 4px;
    border: 1px solid var(--red-100, #FF524C);
    background: var(--white-100, #FFF);
}


/* 모바일: 760px 이하 */
@media (max-width: 760px) {
    body{
        .inquiry-history{
            border: none;
        }
        .inquiry-title{
            display: none;
        }
        .mypage__content-main.inquiry-container{
          padding: 0px;
        }
        .inquiry{
            display: none;
        }
        .inquiry.mobile{
            display: flex;
            padding: 64px 0px 0 0px;
        }
        .inquiry-history__item{
            display: flex;
            padding: 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            align-self: stretch;
            align-items: start;
            text-align: start
        }
        .inquiry-history__meta-group{
            display: flex;
            align-items:start;
            width: 100%;   
            gap: 16px;
        }

        .inquiry-history__cell--title,
        .inquiry-history__cell--status,
        .inquiry-history__cell--date{
            font-size: 14px;
            display: flex;
            justify-content: start;
            align-items: start;
            padding: 0px;
        }
        .inquiry-history__cell--status,
        .inquiry-history__cell{
            color: var(--gray-700, #6F767E);
            font-family: Pretendard;
            font-size: 12px;
            line-height: 14px; /* 116.667% */
        }

        .inquiry-history__meta-group span::before{
            position: relative;
            display: flex;
            content: '';
            width: 1px;
            height: 8px;
            background: #E0E2E4;
            top: 10px;
            right: 8px;
            margin-left: 0px;
            margin-right: 0px;
        }
        .inquiry-history__meta-group span:first-child::before {
            width: 0px;
        }
        .inquiry-history__body{
            background: var(--gray-50, #F8F8F9);
            padding-bottom: 140px;
        }
        .inquiry-history__body-list{
            background: var(--white-100, #FFF);
        }
        .inquiry .btn_wrap{
            position: fixed;
            bottom: 0px;
            width: 100%;
            background: var(--white-100, #FFF);
        }

        .mypage__content-header.detail{
            display: none;
        }
        .inquiry-card__infos{
            width: auto;
        }
        .inquiry-card__header{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
        }
        .badge.badge--answered{
            font-size: 14px;
        }
        .inquiry-card__title{
            font-size: 16px;
            font-weight: 600;
        }
        .inquiry-card__title{
            line-height: 30px;
        }
        .inquiry-detail-view__main .inquiry-card{
            gap: 16px;
            padding: 24px 20px 20px 20px;
        }
        .inquiry.mobile .inquiry-detail-view__main{
            gap: 0px;
        }



        .inquiry.mobile .create{
            padding: 24px 20px 140px 20px;
            gap: 24px;
        }

        .inquiry.mobile .create .select_box_wrap{
            height: auto;
          
        }
        
        .inquiry.mobile .create .select-dropdown__control{
            padding: 16px 12px 16px 16px;
            height: 48px;
        }

        .inquiry .create .select-dropdown{
            gap: 12px;
        }

        .inquiry .create .field{
            gap: 12px;
            
        }
        .inquiry .create .field input{
            height: 48px;        
        }
        
        .inquiry .create .content-info{
            height: auto;
            font-size: 16px;
            gap: 20px;
        
        }
        .content-info .body .body_items{
            font-size: 14px;
        }
        .content-info .body .body_items li{
            flex-direction: column;
        }
        .info_box{
            padding: 16px;
        }
        .info_box .info_box_items{
            font-size: 14px;
            line-height: 20px; /* 128.571% */
        }

        .inquiry .btn_wrap.create{
            padding: 20px;
        }
        .inquiry .btn_wrap.create .cancle{
            display: none;
        }

        .report .mypage__content-header{
            display: none;
        }
        .report .announce_field{
            padding: 36px 20px;
            gap: 20px;
        }
        .announce_field .info_desc .info_title h1{
            font-size: 18px;
        }
        .announce_field .info_desc .info_content{
            font-size: 14px;
        }
        .inquiry-history__cell--status.pending{
            font-weight: 600;
        }

        .inquiry-history__cell--status.answered{
            font-weight: 600;
        }

        .inquiry-card__meta.date,
        .inquiry-card__meta.category{
            font-size: 14px;
        }
        .inquiry-card__meta{
            gap: 0px;
        }

        .inquiry-card__meta span:not(:last-child)::after {
            content: "";
            display: inline-block;     
            width: 1px;
            height: 10px;
            margin: 0 8px;
            background: #E0E2E4;
            vertical-align: middle;
          }
        .inquiry.mobile .create .select-dropdown__menu{
            top: 88px;
          }  

        
    }
}